<section class="new-subject-form">
  <header>
    <h3>Add New Subject</h3>
  </header>

  <section class="form-img"></section>

  <section class="new-subject-section">
    <h4>New Subject:</h4>
    <!--New Subject Form-->
    <form (submit)="submitSubject()">
      <label><span>Name: </span><input [(ngModel)]="subject.name" name="name" type="text" required></label>
      <label><span>Days: <br></span>
      <div id="checkbox-days">
        <input [(ngModel)]="subject.isDay[0]" name="days" type="checkbox" value="sunday">Sunday<br>
        <input [(ngModel)]="subject.isDay[1]" name="days" type="checkbox" value="monday">Monday<br>
        <input [(ngModel)]="subject.isDay[2]" name="days" type="checkbox" value="tuesday">Tuesday<br>
        <input [(ngModel)]="subject.isDay[3]" name="days" type="checkbox" value="wednesday">Wednesday<br>
        <input [(ngModel)]="subject.isDay[4]" name="days" type="checkbox" value="thursday">Thursday<br>
        <input [(ngModel)]="subject.isDay[5]" name="days" type="checkbox" value="friday">Friday<br>
        <input [(ngModel)]="subject.isDay[6]" name="days" type="checkbox" value="saturday">Saturday<br>
      </div>
      </label>
      <label><span>Color code: </span><input [(ngModel)]="subject.color" name="color" type="color" required></label>
      <label id="times"><span>What time?</span>
        <input [(ngModel)]="subject.start_time" name="times" type="time" value="08:00:00" step="600" required>
        <p>to</p>
        <input [(ngModel)]="subject.end_time" name="times" type="time" value="09:00:00" step="600" required>
      </label>
      <input type="submit" value="Add Subject">
    </form>
  </section>
</section>