<header>
  <p>My Scheduler</p>
</header>

<nav>
  <div class="table">
    <ul>
      <a routerLink="/profile" routerLinkActive="active">
        <li id="myProfile-link">My Profile</li>
      </a>
      <a routerLink="/new-subject" routerLinkActive="active">
        <li id="mySubjects-link">Manage Subjects</li>
      </a>
      <a routerLink="/new-task" routerLinkActive="active">
        <li id="myTasks-link">Manage Tasks</li>
      </a>
    </ul>
  </div>
</nav>

<section class="table">
  <aside>
    <!--Sidebar menus here-->
    <router-outlet></router-outlet>
  </aside>

  <main>
    <!--Schedule here-->
    <!--<app-schedule-view></app-schedule-view>-->
  </main>
</section>

<footer>
  <p><b>"My Scheduler"</b>, 2017</p>
  <p>(Mini-Project Application)</p>
  <p><a href="https://github.com/ana-dzmv">ana-dzmv</a> on GitHub</p>
</footer>