<header>
  <p>My Scheduler</p>
</header>

<nav>
  <div class="table">
    <ul>
      <a routerLink="/profile" routerLinkActive="active">
        <li id="myProfile-link">My Profile</li>
      </a>
      <a routerLink="/edit-subject" routerLinkActive="active">
        <li id="mySubjects-link">My Subjects</li>
      </a>
      <a routerLink="/edit-task" routerLinkActive="active">
        <li id="myTasks-link">My Tasks</li>
      </a>
    </ul>
  </div>
</nav>

<aside>
  <!--Sidebar menu here-->
  <router-outlet></router-outlet>
</aside>

<main>
  <!--Schedule here-->
  <app-schedule-view></app-schedule-view>
</main>

<footer>2017</footer>