<section class="login">
  <h2> Hi! :) How would you like your scheduler set up? </h2>
  <form (submit)="submit()">
    <label><span>What is your name? </span><input [(ngModel)]="userProfile.name" name="name" type="text" required></label>
    <label><span>What are your work days? </span><input [(ngModel)]="userProfile.workdays" name="days" type="number" min="1" max"7" required> (starting Sunday)</label>
    <label><span>Which image would you like as your profile photo? </span><input [(ngModel)]="userProfile.photoSrc" name="photoSrcPath" type="file" required></label>
    <input type="submit" value="Create My Schedule!">
  </form>
</section>